body
{
    text-align: center;
}

#app {
    background-color: rgb(255, 162, 0);
}

#myCarousel
{
    background-color: rgb(255, 162, 0);
}

#myCarousel img {
height: 250px;
margin-top: 30px;
}

#carousel-inner  p {
margin-bottom: 10px;
margin-top: 10px;
color:darkslategray;
}
